@font-face {
    font-family: "bold";
    src: url('fonts/Tajawal-Black.ttf');
}

@font-face {
    font-family: "light";
    src: url('fonts/Tajawal-Light.ttf');
}

@font-face {
    font-family: "reg";
    src: url('fonts/Tajawal-Regular.ttf');
}

*,
body,
html,
h1,
h2,
h3,
h4,
h5,
h6,
table,
th,
td {
    font-family: 'reg', sans-serif;
}

a,
button,
input {
    font-family: 'reg', sans-serif;
}
.select2-container .select2-selection--single {
    border: 1px solid #aaaaaa !important;
}
.select2-container--default .select2-selection--single {

    height: calc(1.5em + .75rem + 2px) !important;
    padding: .375rem 1.75rem .375rem .75rem;
}
.fontLight {
    font-family: 'reg', sans-serif;
}

.fontBold {
    font-family: 'bold', sans-serif;
}

.form-group label,
input {
    font-family: 'bold', sans-serif;
}

.dir-ar .form-group label,
input {
    text-align: right;
}

.form-group {
    text-align: right;
}

a.active {
    color: #fff !important;
}

.coverLoading {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 11;
    margin-right: -16px;
    margin-top: -16px;
}

.coverLoading img {
    display: block;
    margin: auto;
    margin-top: 20px;
}

#errorsAdd {
    list-style: none;
    list-style-type: none;
    display: block;
    width: 100%;
}

#errorsAdd li {
    display: block;
    width: 100%;
    padding: 4px;
    text-align: center;
}

#errorsEdit {
    list-style: none;
    list-style-type: none;
    display: block;
    width: 100%;
}

#errorsEdit li {
    display: block;
    width: 100%;
    padding: 4px;
    text-align: center;
}

#coverloadingTable {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    margin-right: -20px;
}

#coverloadingTable img {
    display: block;
    margin: auto;
    margin-top: 25px;
}

.tdLoader {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}

#imgContainer {
    margin-bottom: 20px;
}

#imgContainer img {
    max-width: 300px;
    max-height: 300px;
    display: block;
    margin: auto;
}

#iconContainer img {
    max-width: 100px;
    max-height: 100px;
    display: block;
    margin: auto;
}

.accountbg {
    background-color: #B97C1D;
}

#nav-user-name {
    color: white;
}

#topnav li.active a {
    color: #fff;
    background-color: rgba(255,255,255,.1)!important;
}

.dropdown-menu.dropdown-menu-right {
    right: 0px !important;
    left: auto !important;
}

.dir-en #topnav .navigation-menu>li .submenu, .dir-zh #topnav .navigation-menu>li .submenu
{
    right: auto;
    left: 0;
}

.dir-en #topnav .navigation-menu>li:first-of-type>a, .dir-zh #topnav .navigation-menu>li:first-of-type>a {
    padding-left: 25px;
    padding-right: 25px;
}

.multiImgContainer {
    position: relative;
    margin-bottom: 20px;
}

.multiImgContainer .img-div {
    position: absolute;
}

.multiImgContainer .img-div img {
    width: 100%;
}

.multiImgContainer .img-mask {
    position: absolute;
    display: none;
}

.multiImgContainer .img-mask i {
    visibility: hidden;
}

.multiImgContainer .img-mask i {
    color: #fff;
    font-size: 1.5rem;
}

.multiImgContainer.img-hovered {
    cursor: pointer;
}

.multiImgContainer .img-mask.show-mask {
    position:relative;
    display: block;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
}

.multiImgContainer .img-mask i.show-i {
    visibility: visible;
}


textarea[name=seoHeader], textarea[name=seo_header] {
    direction: ltr;
}

textarea[name=seoFooter], textarea[name=seo_footer] {
    direction: ltr;
}



.dir-en ,.dir-en tr,.dir-en th, .dir-en h2 ,.dir-en h1 ,.dir-en table, .dir-en .form-gorup label
{
    direction: ltr !important;
    text-align: left !important;
}

.dir-zh ,.dir-zh tr,.dir-zh th, .dir-zh h2 ,.dir-zh h1 ,.dir-zh table, .dir-zh .form-group label
{
    direction: ltr !important;
    text-align: left !important;
}

.dir-en .navigation-menu>li .submenu 
{  
    min-width: 130px !important;
}

.dir-en div, .dir-zh div,.dir-zh tr td,.dir-en tr td, .dir-en p, .dir-zh p 
{
    direction: ltr;
    text-align: left;
}

.dir-en .form-control, .dir-zh .form-control
{
    direction: ltr;
    text-align: left;
}

.card-body .header-title
{
    font-weight: bold;
}

.dir-en .form-check-input, .dir-zh .form-check-input
{
    margin-right: 0;
    margin-left: -1.25rem;
}

.dir-en .form-check, .dir-zh .form-check
{
    padding-right: 0;
    padding-left: 1.25rem;
}

.clear-both{clear:both;}


.block{
  background-color: rgba(255, 255, 255, 0.5);
  /* width: 60%; */
  margin:0 auto;
  margin-bottom: 30px;
  padding: 10px;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

label.button{
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: #FFFFFF;
  border: 1px solid #6C6C6C;
  color: #6C6C6C;
  padding: 5px 10px;
  margin: 5px 0;
  display: inline-block;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}

label.button:hover{
  background-color:#F0F0F0;
  cursor: pointer;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear;
}

input#images{display: none;}

#multiple-file-preview{border-top: 1px solid rgba(0, 0, 0, 0.11); margin-top: 10px; padding: 10px;}

#sortable {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

  #sortable li {
    margin: 3px 3px 3px 0;
    float: left;
    width: 100px;
    text-align: center;
    position: relative;
    background-color: #FFFFFF;
  }
#sortable li img{
    height:  auto !important;
  
}
    #sortable li, #sortable li img
    {
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          border-radius: 4px;
    }

    #sortable li div.order-number{
      position: absolute;
      top: 2px;
      right: 2px;
      width: 15px;
      heigth: 15px;
      background-color: #2B91E3;
      color: #FFFFFF;
      font-size: 12px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      border-radius: 20px;
    }

    .btnDelete{
        color: red;
    }
    .ui-state-default {
    width: 18% !important;
    height: 33% !important;
    }
    .img-thumbnail {
    height: 200px;
    width: fit-content !important;
    }
